<!doctype html>
{% set service = session.current_round %}
{% set round = service.current_betting_round %}
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='game.js') }}"></script>
        <title>Poker de Oliver: In-Game View</title>
    </head>
    <body>
        <div class="container mt-md-2">
            <div class="row">
                <div class="col">
                    <table class='player-description table'>
                        <thead>
                            <tr>
                                <th>Your Shit ({{player.handle}})</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Hand</td>
                                <td>{{ player.hand }}</td>
                            </tr>
                            <tr>
                                <td>Wagered this round</td>
                                <td>{{ player.current_wager }}</td>
                            </tr>
                            <tr>
                                <td>Total bank</td>
                                <td>{{ player.current_bank }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <h3>Actions</h3>
                    <hr/>
                    <ul class="list-group">
                        <li class="list-group-item" style="text-align: center;"><button class="btn btn-primary on-turn-only-action">Check</button></li>
                        <li class="list-group-item" style="text-align: center;"><button class="btn btn-primary on-turn-only-action">Fold</button></li>
                        <li class="list-group-item" style="text-align: center;"><button class="btn btn-warning on-turn-only-action">Call</button>
                            <br/>
                            (costs: <span id="call_cost">N/A</span>)
                        </li>
                        <li class="list-group-item" style="text-align: center;">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="{{ service.game.big_ante }}" aria-label="Raise amount">
                                <div class="input-group-append">
                                    <button class="btn btn-warning on-turn-only-action">Raise</button>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Round State</h3>
                    <hr/>
                    <ul>
                        <li>last raise option - {{ round.last_raise_option }}</li>
                        <li>wager - {{ round.current_wager }}</li>
                        <li>current_pot - {{ round.round_pot }}</li>
                    </ul>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col">
                    {% set player = service.current_betting_round.current_bettor %}
                    <table class='player-description table'>
                        <thead>
                            <tr>
                                <th>Current Bettor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Name</td>
                                <td>{{ player.handle }}</td>
                            </tr>
                            <tr>
                                <td>Wagered this round</td>
                                <td>{{ player.current_wager }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col">
                    {% set player = service.current_betting_round.last_raise_player %}
                    <table class='player-description table'>
                        <thead>
                            <tr>
                                <th>Last Raiser</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Name</td>
                                <td>{{ player.handle }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
            </div>
        </div>
    </body>
</html>